<!-- START FOOTER -->
    <section class="p-b-30 p-t-40 bg-master-lightest">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <img alt="" class="logo inline m-r-50" src="/assets/images/logo-name-dark.png" height="32">
            <div class="m-t-10 ">
              <ul class="no-style fs-11 no-padding font-arial">
                <li class="inline no-padding"><a class=" text-master p-r-10 b-r" href="#">Home</a></li>
								<li class="inline no-padding"><a class="hint-text text-master p-l-10 p-r-10 b-r" href="#">Philosophy</a></li>
                <li class="inline no-padding"><a class="hint-text text-master p-l-10 p-r-10 b-r" href="#">Programs</a></li>
                <li class="inline no-padding"><a class="hint-text text-master p-l-10 p-r-10 b-r" href="#">Staff</a></li>
                <li class="inline no-padding"><a class="hint-text text-master p-l-10 p-r-10 xs-no-padding xs-m-t-10" href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 text-right font-arial sm-text-left">
            <p class="fs-11 no-margin"><span class="hint-text">Lorem ipsum dolar sit</span> Monkey See, Monkey Do <span class="hint-text">See</span> Standard licenses &amp; Extended licenses
            </p>
            <p class="fs-11 muted">Copyright &copy; 2014 The Next Stride, LLC. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- END FOOTER -->
